

.page_content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    z-index: 5;

    font-family: '__Bebas_Neue_6a3ae9';

    // background-color: red;
}


.page_content__instruction {
    position: absolute;
    bottom: 5%;

    font-family: roboto;
}